  <% if @user.industry.nil? then %>
      <p>
        <%= select_tag(:industry, options_for_select([['Commercial/Investment Banking','Commercial/Investment Banking'],['Computing/Telecom','Computing/Telecom'],['Consulting','Consulting'],['Consumer Products','Consumer Products'],['Education/Government/Nonprofit','Education/Government/Nonprofit'],['Energy','Energy'],['Engineering','Engineering'],['Financial Services -- Other','Financial Services -- Other'],['Investment Management','Investment Management'],['Military','Military'],['Nonprofit','Nonprofit'],['Other','Other'],['Real Estate','Real Estate'],['Venture Capital/Private Equity','Venture Capital/Private Equity']])) %>
      </p>
      <% else %>
      <p>
        <%= select_tag(:industry, options_for_select([['Commercial/Investment Banking','Commercial/Investment Banking'],['Computing/Telecom','Computing/Telecom'],['Consulting','Consulting'],['Consumer Products','Consumer Products'],['Education/Government/Nonprofit','Education/Government/Nonprofit'],['Energy','Energy'],['Engineering','Engineering'],['Financial Services -- Other','Financial Services -- Other'],['Investment Management','Investment Management'],['Military','Military'],['Nonprofit','Nonprofit'],['Other','Other'],['Real Estate','Real Estate'],['Venture Capital/Private Equity','Venture Capital/Private Equity']],@user.industry)) %>
      </p>
      <% end %>
