 <label for="name" class="control-label">
        Undergraduate Major
      </label>


      <% if @user.major.nil? then %>
      <p>
        <%= select_tag(:major, options_for_select([['Business','Business'],['Economics','Economics'],['Engineering','Engineering'],['Liberal Arts/Sciences','Liberal Arts/Sciences'],['Other','Other'],['Physical Sciences','Physical Sciences']])) %>
      </p>
      <% else %>
      <p>
        <%= select_tag(:major, options_for_select([['Business','Business'],['Economics','Economics'],['Engineering','Engineering'],['Liberal Arts/Sciences','Liberal Arts/Sciences'],['Other','Other'],['Physical Sciences','Physical Sciences']],@user.major)) %>
      </p>
      <% end %>
