<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Welcome to MBA Coach!</h2>
                    <hr class="light">
                    <p class="text-faded">MBA Coach estimates your chances of getting into top business schools.</p>

                    <% if user_signed_in? then %>
                    <a href="/users/<%= current_user.id %>/edit" class="btn btn-default btn-xl">Enter your stats</a>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
