<h1>New School</h1>

<%= form_tag(schools_url, method: 'post') do %>
  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= submit_tag "Create School" %>
  </div>
<% end %>
